In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import gmaps_key

In [2]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Den Helder,NL,2022-01-24 21:44:47,52.9599,4.7593,40.98,83,100,5.99
1,1,Kodiak,US,2022-01-24 21:44:47,57.7900,-152.4072,40.51,81,100,10.36
2,2,Atuona,PF,2022-01-24 21:44:47,-9.8000,-139.0333,78.69,72,5,16.17
3,3,Hermanus,ZA,2022-01-24 21:44:48,-34.4187,19.2345,69.80,93,8,6.96
4,4,Jinan,CN,2022-01-24 21:44:48,36.6683,116.9972,31.10,54,10,0.13

In [3]:
# Get the data types
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [4]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=gmaps_key)

In [5]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))
# Assign the figure variable.
fig = gmaps.figure(center = (30.0, 31.0), zoom_level = 1.5)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights = [max(temp, 0) for temp in max_temp], dissipating = False, max_intensity = 300, point_radius = 4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [6]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [7]:
# Heatmap of % Cloudiness
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center = (30.0, 31.0), zoom_level = 1.5)
heat_layer = gmaps.heatmap_layer(locations, weights = clouds, dissipating = False, max_intensity = 300, point_radius = 4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [8]:
# Heatmap of Wind Speed
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center = (30.0, 31.0), zoom_level = 1.5)
heat_layer = gmaps.heatmap_layer(locations, weights = wind, dissipating = False, max_intensity = 300, point_radius = 4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [9]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [10]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.dropna(axis = 0, how = "any", thresh = None, subset = None, inplace = False)
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
2,2,Atuona,PF,2022-01-24 21:44:47,-9.8000,-139.0333,78.69,72,5,16.17
6,6,Hilo,US,2022-01-24 21:44:49,19.7297,-155.0900,80.33,55,40,10.36
7,7,Padang,ID,2022-01-24 21:43:19,-0.9492,100.3543,75.25,83,99,3.71
12,12,Butaritari,KI,2022-01-24 21:44:50,3.0707,172.7902,81.32,79,96,15.95
16,16,Kavieng,PG,2022-01-24 21:44:51,-2.5744,150.7967,83.28,75,44,7.56
21,21,Waingapu,ID,2022-01-24 21:44:53,-9.6567,120.2641,77.97,87,42,7.72
25,25,Edd,ER,2022-01-24 21:44:54,13.9297,41.6925,78.42,69,36,6.51
26,26,Voh,NC,2022-01-24 21:44:54,-20.9667,164.7000,82.47,63,6,4.65
29,29,Biak,ID,2022-01-24 21:44:55,-0.9131,122.8766,76.78,78,100,3.33
30,30,Rikitea,PF,2022-01-24 21:44:55,-23.1203,-134.9692,78.64,71,100,18.66

In [11]:
preferred_cities_df.count()

City_ID       164
City          164
Country       162
Date          164
Lat           164
Lng           164
Max Temp      164
Humidity      164
Cloudiness    164
Wind Speed    164
dtype: int64

In [12]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

          City Country  Max Temp      Lat       Lng Hotel Name
2       Atuona      PF     78.69  -9.8000 -139.0333
6         Hilo      US     80.33  19.7297 -155.0900
7       Padang      ID     75.25  -0.9492  100.3543
12  Butaritari      KI     81.32   3.0707  172.7902
16     Kavieng      PG     83.28  -2.5744  150.7967
21    Waingapu      ID     77.97  -9.6567  120.2641
25         Edd      ER     78.42  13.9297   41.6925
26         Voh      NC     82.47 -20.9667  164.7000
29        Biak      ID     76.78  -0.9131  122.8766
30     Rikitea      PF     78.64 -23.1203 -134.9692

In [13]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": gmaps_key
}

In [14]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

hotel_df.head(10)

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

          City Country  Max Temp      Lat       Lng           Hotel Name
2       Atuona      PF     78.69  -9.8000 -139.0333          Villa Enata
6         Hilo      US     80.33  19.7297 -155.0900  Hilo Hawaiian Hotel
7       Padang      ID     75.25  -0.9492  100.3543       Mercure Padang
12  Butaritari      KI     81.32   3.0707  172.7902   Isles Sunset Lodge
16     Kavieng      PG     83.28  -2.5744  150.7967  Nusa Island Retreat
21    Waingapu      ID     77.97  -9.6567  120.2641   Pondok Wisata Elim
25         Edd      ER     78.42  13.9297   41.6925
26         Voh      NC     82.47 -20.9667  164.7000  Le gîte du Koniambo
29        Biak      ID     76.78  -0.9131  122.8766       Penginapan Kim
30     Rikitea      PF     78.64 -23.1203 -134.9692      People ThankYou

In [15]:
# Add a heatmap of temperature for the vacation spots.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center = (30.0, 31.0), zoom_level = 1.5)
heat_layer = gmaps.heatmap_layer(locations, weights = max_temp, dissipating = False,
             max_intensity = 300, point_radius = 4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [16]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

In [17]:
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [18]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))